*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(153, 118, 2);
    text-decoration: none;
}
html {
    background-image: linear-gradient(to top, #000000bd, rgb(10 46 29 / 65%)),
     url(imges/img_background.jpg);
}

body{
    height: 100vh;
    font-family: sans-serif;
    background-color: #212121;
}

header{
    display: flex;
     background-image: linear-gradient(to right ,rgba(0, 0, 0, 0.817),rgb(0, 0, 0)) ;
    justify-content: space-between;
    align-items:center;
     width:100%;
    height:10%;
    background:linear-gradient(to top,#00000000,#212121)

    
 }
.str_head,.end_head{
     
     display: flex; 
     text-align: center;  

}
 
.end_head{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.end_head ul{
    display: flex;
    gap:2rem;
    
} 
.str_head h2{
    position: relative;
    font-size: 2rem;
    left:-34px;
    bottom:-23px;
    
}
.str_head img{
    width: 150px;
    height:80px;
}
.end_head ul li{
    list-style: none;
}
.end_head ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size:1.2rem;
    transition: 0.5s;
    color: aliceblue;
    
}
.end_head ul li a:hover{
     color: rgba(195, 0, 0, 0.705);
}

.shop {
     position: relative;
     left:-34px;
    background-image: linear-gradient(to top, #99000066, rgba(196, 39, 39, 0.731));
    height: 50%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
padding: 5px;
   border-radius: 5px;
} 
.shop:hover{
    background-image: linear-gradient(to top, #ff0000c7, rgb(185, 4, 4));
}
                                                          /* main  text */
.main_text {

    width: auto;
    height:10%;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.main_text .apper{
    display:none ;
}
p,a{color: #fff;}
main{
    width:100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
main .pictuers{
    width:80% ;
    height:65%;
    
}
footer{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    font-size: px;
    color: #fff;
    letter-spacing: 1px;

}
footer p span{
    color: rgb(173, 8, 8);
}


@media (min-width:200px) and (max-width:900px) {

.shop{display: none;}
.str_head{display: none;}
.header{display: flex;justify-content: center;}
.end_head{width: 100%;display: flex;justify-content: center;gap:1rem}
.end_head ul {gap: 1rem;}
.end_head ul li a {font-size: 12px;}

    .main_text .apper{
    display:block ;
   
   font-size: 9px;
        width: 50px;
        height: 20px;
   text-align: center;
}
.main_text .mark{
    position: relative;
    top: -20px;
}
.main_text .mark img{width: 90px;}
.main_tex .shop{
    width: 0px;
    height: 20px;
}

 .main_text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;

 }
 


}